asgiref==3.6.0
backports.zoneinfo;python_version<"3.9" #needed if using python version >= 3.9 
crispy-bootstrap4==2022.1
Django==4.1.6
django-crispy-forms==2.0
Pillow==9.4.0
sqlparse==0.4.3
openai==0.27.2
xhtml2pdf