{% extends "header.html" %}

{% block title %}{{ student.name }}{% endblock %}

{% block navbar %}
    {% include "staff-navbar.html" %}
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<h1>Write Review</h1>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<a href="{% url 'base:student-profile' student.name %}">
    <button type="button" class="btn btn-primary">Cancel</button>
</a>

{% endblock %}