{% extends "header.html" %}

{% block title %}Student Leaderboard{% endblock %}

{% block navbar %}
    {% include "staff-navbar.html" %}
{% endblock %}

{% block content %}

<div class="container py-5">
    <h1>Student Ranking</h1>

    {% block filter_bar %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'base:leaderboard' %}" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Top..." aria-label="Top" name="query">
            <!-- <button class="btn" type="submit">Search</button> -->
    </form>
    {% endblock %}

    <a href="{% url 'base:leaderboard-download' query_rank=query download='download' %}" class="btn btn-primary">Download</a>

    {% if query == 0 %}
        <h6>Total: {{ school_total }} student(s)</h6>
    {% else %}
        <h4>Showing the Top {{ query }} students</h4>
        <h6>Total in school: {{ school_total }} student(s)</h6>
    {% endif %}
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th style="text-align: center">Rank</th>
                <th>Name</th>
                <th style="text-align: center">Karma Score</th>
            </tr>
        </thead>
        <tbody>
        {% for student, rank in students %}
            <tr>
                <td style="text-align: center">{{ rank }}</td>
                <td>
                    <a href="{% url 'base:student-profile' student.name %}">{{ student.name }}</a>
                </td>
                <td style="text-align: center">{{ student.karma.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if query != 0 %}
        <h6>Number of rows: {{ students|length }} row(s)</h6>
    {% endif %}
</div>

{% endblock %}