{% extends "staff-header.html" %}
{%block content%}
<html lang="en" dir="ltr">

<textarea id="rec_letter", name="rec_letter", rows="30", cols="100">
    {{response}}
</textarea>

<script>
    function copy() {
        // Get the text field
        var copyText=document.getElementById("rec_letter").value;
        document.getElementById("rec_letter").innerHTML=copyText;

        copyText = document.getElementById("rec_letter");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        // Alert the copied text
        alert("Copied!");
    }

    function get_response(){
        var response=document.getElementById("rec_letter").value;
        document.getElementById("rec_letter").innerHTML=response;
        var href=`{% url 'base:download-recommendation' response="${response}" %}`;

        alert (href);
        //const a =Object.assign(document.createElement("a"),{
        //    href,
        //    style: "display:none",
        //});
        //document.body.appendChild(a);
        //a.click();
        //a.remove();
    }

</script>

<a href="{% url 'base:download-recommendation' response=response %}">
    <button type="button" class="btn btn-primary">Download</button>
</a>

<button type="button" class="btn btn-primary" onclick="copy()">Copy</button>

</html>
{%endblock%}