{% extends "header.html" %}
{%block content%}
<html lang="en" dir="ltr">

{% load crispy_forms_tags %}
<form method="POST">
    {% csrf_token %}
    {{ form.response }}
    <button class="btn btn-primary" type="submit">Download</button>
</form>

<script>
    function copy() {
        // Get the text field
        var copyText=document.getElementById("id_response").value;
        document.getElementById("id_response").innerHTML=copyText;

        copyText = document.getElementById("id_response");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        // Alert the copied text
        alert("Copied!");
    }

</script>

<button type="button" class="btn btn-primary" onclick="copy()">Copy</button>

</html>
{%endblock%}