{% extends "header.html" %}

{% block title %}Staff Home{% endblock %}

{% block navbar %}
    {% include "staff-navbar.html" %}
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item">Reviews written: {{ num_reviews }}</li>
                <li class="list-group-item">Upvotes received: {{ num_upvotes }}</li>
                <li class="list-group-item">Downvotes received: {{ num_downvotes }}</li>
                <li class="list-group-item">Endorsements given: {{ num_endorsements }}</li>
            </ul>
        </div>
        <div class="col-8">

        </div>
    </div>
</div>

<div class="container py-5 d-flex flex-column">
    <h1>Activity</h1>
    {% if activities %}
        <div class="list-group">
        {% for activity in activities %}
            <a href="{% url 'base:student-profile' activity.parameter %}" class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between">
                    <h5>{{ activity.message }}</h5>
                    <small class="text-muted">{{ activity.timestamp }}</small>
                </div>
            </a>
        {% endfor %}
        </div>
    {% else %}
        <p>You have no activity yet.</p>
    {% endif %}
</div>

{% endblock %}