{% extends "header.html" %}

{% load mathfilters %}

{% block title %}{{ student.name }}{% endblock %}

{% block navbar %}
    {% include "staff-navbar.html" %}
{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="d-flex justify-content-between">
        <h1>{{ student.name }}</h1>
        <a href="{% url 'base:recommendation-letter' student.name %}">
            <button type="button" class="btn btn-primary">Generate Recommendation Letter</button>
        </a>
    </div>
    <h3>Karma: {{ karma.score }}</h3>
    <div class="row justify-content-between">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex flex-column">
                        <a href="#" onClick="document.getElementById('leadership_skill').submit()" class="fw-bold">Leadership</a>
                        School Highest: {{ highest_endorsements.leadership }}
                    </div>
                    <span class="badge bg-primary" style="font-size:1.15em;">{{ endorsement_stats.leadership }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex flex-column">
                        <a href="#" onClick="document.getElementById('respect_skill').submit()" class="fw-bold">Respect</a>
                        School Highest: {{ highest_endorsements.respect }}
                    </div>
                    <span class="badge bg-primary" style="font-size:1.15em;">{{ endorsement_stats.respect }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex flex-column">
                        <a href="#" onClick="document.getElementById('punctuality_skill').submit()" class="fw-bold">Punctuality</a>
                        School Highest: {{ highest_endorsements.punctuality }}
                    </div>
                    <span class="badge bg-primary" style="font-size:1.15em;">{{ endorsement_stats.punctuality }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex flex-column">
                        <a href="#" onClick="document.getElementById('participation_skill').submit()" class="fw-bold">Participation</a>
                        School Highest: {{ highest_endorsements.participation }}
                    </div>
                    <span class="badge bg-primary" style="font-size:1.15em;">{{ endorsement_stats.participation }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto d-flex flex-column">
                        <a href="#" onClick="document.getElementById('teamwork_skill').submit()" class="fw-bold">Teamwork</a>
                        School Highest: {{ highest_endorsements.teamwork }}
                    </div>
                    <span class="badge bg-primary" style="font-size:1.15em;">{{ endorsement_stats.teamwork }}</span>
                </li>
            </ul>
        </div>
        <div class="col-8">
            <h2>Student Summary</h2>
            <p>{{ summary }}</p>
        </div>
    </div>
</div>
    
<div class="container py-5">
    <div class="d-flex justify-content-between">
        <h2>Reviews</h2>

        <p>
            <a href= "{% url 'base:student-reviews' student.name %}">See all reviews</a>
        </p>

        <a href="{% url 'base:write-review' student.name %}">
            <button type="button" class="btn btn-primary">Write Review</button>
        </a>
    </div>
    {% if reviews %}
        <h6>{{ reviews|length }} review(s).</h6>
        {% for review, voted in reviews %}
            <form class="upvote id-{{ review.id }}" method="POST" action="{% url 'base:vote-review' review_id=review.id vote_value='UP' %}">
                {% csrf_token %}
                <input type="hidden">
            </form>

            <form class="downvote id-{{ review.id }}" method="POST" action="{% url 'base:vote-review' review_id=review.id vote_value='DOWN' %}">
                {% csrf_token %}
                <input type="hidden">
            </form>

            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <h5>{{ review.staff.user.first_name }} {{ review.staff.user.last_name }}</h5>
                        </div>
                        <div class="col-3 d-flex justify-content-around">
                            <a href="#" onClick="document.getElementsByClassName('upvote id-{{ review.id }}')[0].submit()" id="upvote-btn" class="btn btn-outline-success btn-sm {% if voted == 'UP' %}active{% endif %}" role="button" data-bs-toggle="button">Upvote
                            </a>
                            <h5>{{ review.stats.upvotes|sub:review.stats.downvotes }}</h5>
                            <a href="#" onClick="document.getElementsByClassName('downvote id-{{ review.id }}')[0].submit()" id="downvote-btn" class="btn btn-outline-danger btn-sm {% if voted == 'DOWN' %}active{% endif %}" role="button" data-bs-toggle="button">Downvote
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6>Rating: {{ review.rating }}/5</h6>
                    <p class="card-text">{{ review.text }}</p>
                    <div class="d-flex justify-content-between">
                        <small class="text-muted">Reviewed on {{ review.timestamp }}</small>
                        {% if user == review.staff.user %}
                            <div>
                                <a href="{% url 'base:edit-review' review.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'base:delete-review' review.id %}" class="btn btn-primary">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        {% endfor %}
    {% else %}
        <p>No reviews found.</p>
    {% endif %}
</div>

<form id="leadership_skill" method="POST" action="{% url 'base:endorse' student_name=student.name skill='leadership' %}">
    {% csrf_token %}
    <input type="hidden">
</form>

<form id="respect_skill" method="POST" action="{% url 'base:endorse' student_name=student.name skill='respect' %}">
    {% csrf_token %}
    <input type="hidden">
</form>

<form id="punctuality_skill" method="POST" action="{% url 'base:endorse' student_name=student.name skill='punctuality' %}">
    {% csrf_token %}
    <input type="hidden">
</form>

<form id="participation_skill" method="POST" action="{% url 'base:endorse' student_name=student.name skill='participation' %}">
    {% csrf_token %}
    <input type="hidden">
</form>

<form id="teamwork_skill" method="POST" action="{% url 'base:endorse' student_name=student.name skill='teamwork' %}">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endblock %}