{% extends "header.html" %}

{% block title %}JAM Home{% endblock %}

{% block navbar %}
    {% include "superuser-nav.html" %}
{% endblock %}

{% block content %}
<div class="container py-5 d-flex flex-column">
    <h1>Activity</h1>
    {% if activities %}
        <div class="list-group">
        {% for activity in activities %}
            <div class="list-group-item">
                <div class="d-flex justify-content-between">
                    <h5>{{ activity.message }}</h5>
            
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>You have no activity yet.</p>
    {% endif %}
</div>
{% endblock %}