{% extends "header.html" %}

{% block title %}JAM Home{% endblock %}

{% block navbar %}
    {% include "superuser-nav.html" %}
{% endblock %}

{% block content %}
<div class="container py-5 d-flex flex-column">
    <h1>Activity</h1>
    {% if activities %}
        <div class="list-group">
        {% for activity in activities %}
            <div class="list-group-item">
                <div class="d-flex justify-content-between">
                    <h5>{{ activity.message }}</h5>
                    <small class="text-muted">{{ activity.timestamp }}</small>
                </div>
            </div>
        {% endfor %}
        </div>
        {% if activities.has_other_pages %}
            <nav aria-label="Superuser activity page nav">
                <ul class="pagination justify-content-center">
                {% if activities.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ activities.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for num in activities.paginator.page_range %}
                    {% if activities.number == num %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{ num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if activities.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ activities.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next" tabindex="-1" aria-disabled="true">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <p>You have no activity yet.</p>
    {% endif %}
</div>
{% endblock %}